<li class="list-group-item d-flex justify-content-between align-items-center border p-2" id="<%= dom_id deal %>">
    <p style="font-weight: bold" class="px-3"> <%=deal.name%> </p>
    <p style="font-weight: bold" class="px-3"> $<%=deal.amount%> </p>
</li>
