<%= render partial: "shared/navbar", locals:{title:'Transactions', link:root_path} %>
<div style="height: 582px">
  <div id="deals" style="height:512px; overflow:auto" class="m-0 p-0" >
    <h6 class="text-center py-2">Total transactions: $<%=@total%></h6>
    <%= render @deals %>
  </div>

  <div style="height:70px" class="d-flex justify-content-center align-items-center">
  <%= link_to "New Transaction", new_deal_path, class:"btn btn-primary px-4" %>
  </div>
</div>